<section class="bg contacto">
    <div id="container">
        <div class="content">
            <h1 class="pag">Contacto</h1>
            <div class="space"></div>
            <div class="block">
                <div class="row center">
                    <div>
                        <h2>Hola <%= user?.datosUsuario?.nombre || 'querid@' %></h2>
                        <p><strong>Si tienes alguna consulta, no dudes en contactarnos.</strong></p>
                        <p>Estaremos encantados de ayudarte a encontrar el camino hacia la supraconciencia.</p>
                        <div class="info-usuario">
                        <ul>
                            <li><%= infoContacto.email%></li>
                            <li><%= infoContacto.tlf%></li>
                            <li><%= infoContacto.direccion%></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>