<section class="bg inicio">
    <div id="container">
        <div class="content">
            <div id="home">
                <h1>Sueños Valenti</h1>
                <h2>Sesiones grupales para conectar con tu supraconciencia</h2>
            </div>
        </div>
    </div>
</section>