<section class="bg neutro">
    <div id="container">
        <div class="content">
            <h1 class="pag">Preferencias</h1>
            <div class="space"></div>
            <div class="block">
                <div class="row center">
                    <div class="modo">
                        <h2>Preferencias de tema de color</h2>
                        <div class="space"></div>
                        <div class="tema">
                            <a href="/tema/dark"><img class="modooscuro" src="img/circle-fill.svg" alt="Modo oscuro"></a>
                            <a href="/tema/light"><img class="modoclaro" src="img/circle-fill.svg" alt="Modo claro"></a>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</section>