<section class="bg registro">
    <div id="container">
        <div class="content">
        <h1 class="pag">Has sido registrado</h1>
        <div class="space"></div>
            <div class="block">
                <div class="row center">
                    <div>
                        <p><small>Usuario guardado con éxito</small></p>
                        <h2>Ya estás más cerca de conectar con tu supraconciencia <%= nombre %>.</h2>
                        <p>¡Nos vemos pronto en una sesión grupal!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>